:root {
  --background-h: 0deg;
  --background-s: 0%;
  --background-l: 12.9411764706%;
  --background: hsla(var(--background-h), var(--background-s), var(--background-l), 1);
  --background-text-l: 90%;
  --background-text-m: 1;
  --default-h: var(--background-h);
  --default-s: var(--background-s);
  --default-l: 50%;
  --default: hsla(var(--default-h), var(--default-s), var(--default-l), 1);
  --default-text-l: 90%;
  --default-text-m: 1;
  --primary-h: 171deg;
  --primary-s: 100%;
  --primary-l: 41%;
  --primary: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1);
  --primary-text-l: 90%;
  --primary-text-m: 1;
  --succes-h: 141deg;
  --succes-s: 53%;
  --succes-l: 53%;
  --succes: hsla(var(--succes-h), var(--succes-s), var(--succes-l), 1);
  --succes-text-l: 90%;
  --succes-text-m: 1;
  --info-h: 204deg;
  --info-s: 71%;
  --info-l: 53%;
  --info: hsla(var(--info-h), var(--info-s), var(--info-l), 1);
  --info-text-l: 90%;
  --info-text-m: 1;
  --warning-h: 48deg;
  --warning-s: 100%;
  --warning-l: 67%;
  --warning: hsla(var(--warning-h), var(--warning-s), var(--warning-l), 1);
  --warning-text-l: 10%;
  --warning-text-m: -1;
  --danger-h: 348deg;
  --danger-s: 86%;
  --danger-l: 61%;
  --danger: hsla(var(--danger-h), var(--danger-s), var(--danger-l), 1);
  --danger-text-l: 10%;
  --danger-text-m: -1;
  --grey-h: var(--primary-h);
  --grey-s: 10%;
  --grey-l: 20%;
  --grey: hsla(var(--grey-h), var(--grey-s), var(--grey-l), 1);
  --grey-text-l: 90%;
  --grey-text-m: 1;
}

:root {
  --transition-x-slow: 1000ms;
  --transition-slow: 500ms;
  --transition-medium: 250ms;
  --transition-fast: 150ms;
  --transition-x-fast: 50ms;
  --border-radius-small: 0.125rem;
  --border-radius-medium: 0.25rem;
  --border-radius-large: 0.5rem;
  --border-radius-x-large: 1rem;
  --border-radius-circle: 50%;
  --border-radius-rounded: 9999px;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsla(var(--background-h), var(--background-s), var(--background-l), 1);
}

*::selection {
  background-color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1);
  color: hsla(0, 0%, var(--primary-text-l), 1);
}

:root {
  --font-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-serif: Georgia, "Times New Roman", serif;
  --font-size-xx-small: 0.625rem;
  --font-size-x-small: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-x-large: 1.5rem;
  --font-size-xx-large: 2.25rem;
  --font-size-xxx-large: 3rem;
  --font-size-xxxx-large: 4.5rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;
  --spacing-xxx-small: 0.125rem;
  --spacing-xx-small: 0.25rem;
  --spacing-x-small: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.25rem;
  --spacing-x-large: 1.75rem;
  --spacing-xx-large: 2.25rem;
  --spacing-xxx-large: 3rem;
  --spacing-xxxx-large: 4.5rem;
}

.button {
  --button-border-width: 1px;
  --button-height: 2.5em;
  --button-line-height: 1.5;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: auto;
  line-height: var(--button-line-height, 1.5);
  font-size: var(--font-size-medium, 1rem);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-semibold, 500);
  border-style: solid;
  border-width: var(--button-border-width, 1px);
  border-radius: var(--border-radius-medium, 0.25rem);
  padding-bottom: calc(0.5em - var(--button-border-width, 1px));
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - var(--button-border-width, 1px));
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  transition: var(--transition-fast, 150ms) background-color, var(--transition-fast, 150ms) color, var(--transition-fast, 150ms) border, var(--transition-fast, 150ms) box-shadow;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
  --button-background-color-h: var(--default-h);
  --button-background-color-s: var(--default-s);
  --button-background-color-l: var(--default-l);
  --button-text-color: hsla(0, 0%, var(--background-text-l), 1);
  --button-background-color: transparent;
  --button-background-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 0.1);
  --button-background-focus-color: var(--button-background-hover-color);
  --button-background-active-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 0.25);
  --button-border-color: hsla(var(--button-background-color-h), 10%, 50%, 1);
  --button-border-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), calc(var(--button-background-color-l) - 10%), 1);
  --button-border-focus-color: var(--button-border-hover-color);
  --button-border-active-color: var(--button-border-hover-color);
  --button-shadow-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 0.33);
  --button-shadow-focus-color: var(--button-shadow-hover-color);
  --button-shadow-active-color: var(--button-shadow-hover-color);
}
.button.is-fullwidth {
  width: 100%;
}
.button.is-rounded {
  border-radius: var(--border-radius-rounded, 9999px);
}
.button.is-circle {
  padding-left: 0;
  padding-right: 0;
  border-radius: var(--border-radius-circle, 50%);
  width: var(--button-height, 2.5em);
  height: var(--button-height, 2.5em);
}
.button::-moz-focus-inner {
  border: 0;
}
.button:focus {
  outline: none;
}
.button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.button[disabled] * {
  pointer-events: none;
}
.button:hover:not(:disabled) {
  background-color: var(--button-background-hover-color);
  border-color: var(--button-border-hover-color);
  box-shadow: 0 0 0 3px var(--button-shadow-hover-color);
}
.button:focus:not(:disabled) {
  background-color: var(--button-background-focus-color);
  border-color: var(--button-border-focus-color);
  box-shadow: 0 0 0 3px var(--button-shadow-focus-color);
}
.button:active:not(:disabled) {
  background-color: var(--button-background-active-color);
  border-color: var(--button-border-active-color);
  box-shadow: 0 0 0 4px var(--button-shadow-active-color);
}
.button.is-background {
  --button-background-color-h: var(--background-h);
  --button-background-color-s: var(--background-s);
  --button-background-color-l: var(--background-l);
}
.button.is-background.is-colored {
  --button-text-color: hsla(0, 0%, var(--background-text-l), 1);
}
.button.is-default {
  --button-background-color-h: var(--default-h);
  --button-background-color-s: var(--default-s);
  --button-background-color-l: var(--default-l);
}
.button.is-default.is-colored {
  --button-text-color: hsla(0, 0%, var(--default-text-l), 1);
}
.button.is-primary {
  --button-background-color-h: var(--primary-h);
  --button-background-color-s: var(--primary-s);
  --button-background-color-l: var(--primary-l);
}
.button.is-primary.is-colored {
  --button-text-color: hsla(0, 0%, var(--primary-text-l), 1);
}
.button.is-succes {
  --button-background-color-h: var(--succes-h);
  --button-background-color-s: var(--succes-s);
  --button-background-color-l: var(--succes-l);
}
.button.is-succes.is-colored {
  --button-text-color: hsla(0, 0%, var(--succes-text-l), 1);
}
.button.is-info {
  --button-background-color-h: var(--info-h);
  --button-background-color-s: var(--info-s);
  --button-background-color-l: var(--info-l);
}
.button.is-info.is-colored {
  --button-text-color: hsla(0, 0%, var(--info-text-l), 1);
}
.button.is-warning {
  --button-background-color-h: var(--warning-h);
  --button-background-color-s: var(--warning-s);
  --button-background-color-l: var(--warning-l);
}
.button.is-warning.is-colored {
  --button-text-color: hsla(0, 0%, var(--warning-text-l), 1);
}
.button.is-danger {
  --button-background-color-h: var(--danger-h);
  --button-background-color-s: var(--danger-s);
  --button-background-color-l: var(--danger-l);
}
.button.is-danger.is-colored {
  --button-text-color: hsla(0, 0%, var(--danger-text-l), 1);
}
.button.is-grey {
  --button-background-color-h: var(--grey-h);
  --button-background-color-s: var(--grey-s);
  --button-background-color-l: var(--grey-l);
}
.button.is-grey.is-colored {
  --button-text-color: hsla(0, 0%, var(--grey-text-l), 1);
}
.button.is-outlined {
  --button-text-color: hsla(0, 0%, var(--background-text-l), 1);
  --button-background-color: transparent;
  --button-background-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 0.1);
  --button-background-focus-color: var(--button-background-hover-color);
  --button-background-active-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 0.25);
  --button-border-color: hsla(var(--button-background-color-h), 10%, 50%, 1);
  --button-border-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), calc(var(--button-background-color-l) - 10%), 1);
  --button-border-focus-color: var(--button-border-hover-color);
  --button-border-active-color: var(--button-border-hover-color);
  --button-shadow-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 0.33);
  --button-shadow-focus-color: var(--button-shadow-hover-color);
  --button-shadow-active-color: var(--button-shadow-hover-color);
}
.button.is-colored {
  --button-text-color: hsla(0, 0%, var(--default-text-l), 1);
  --button-background-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 1);
  --button-background-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), calc(var(--button-background-color-l) - 5%), 1);
  --button-background-focus-color: var(--button-background-hover-color);
  --button-background-active-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 1);
  --button-border-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 1);
  --button-border-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), calc(var(--button-background-color-l) - 5%), 1);
  --button-border-focus-color: var(--button-border-hover-color);
  --button-border-active-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 1);
  --button-shadow-hover-color: hsla(var(--button-background-color-h), var(--button-background-color-s), var(--button-background-color-l), 0.33);
  --button-shadow-focus-color: var(--button-shadow-hover-color);
  --button-shadow-active-color: var(--button-shadow-hover-color);
}
.button.is-underscored {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.button.is-underscored:hover:not(:disabled) {
  box-shadow: 0 3px 0 0 var(--button-shadow-hover-color);
}
.button.is-underscored:focus:not(:disabled) {
  box-shadow: 0 3px 0 0 var(--button-shadow-focus-color);
}
.button.is-xx-small {
  font-size: var(--font-size-xx-small, 0.625rem);
}
.button.is-x-small {
  font-size: var(--font-size-x-small, 0.75rem);
}
.button.is-small {
  font-size: var(--font-size-small, 0.875rem);
}
.button.is-medium {
  font-size: var(--font-size-medium, 1rem);
}
.button.is-large {
  font-size: var(--font-size-large, 1.25rem);
}
.button.is-x-large {
  font-size: var(--font-size-x-large, 1.5rem);
}
.button.is-xx-large {
  font-size: var(--font-size-xx-large, 2.25rem);
}
.button.is-xxx-large {
  font-size: var(--font-size-xxx-large, 3rem);
}
.button.is-xxxx-large {
  font-size: var(--font-size-xxxx-large, 4.5rem);
}

.input-file {
  cursor: pointer;
}
.input-file input {
  height: 100%;
  left: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
  cursor: pointer;
}

.input-radio, .input-checkbox, .input-range, .input {
  --input-border-width: 1px;
  --input-height: 2.5em;
  --input-line-height: 1.5;
  --input-text-color: hsla(0, 0%, var(--background-text-l), 1);
  --input-placeholder-text-color: hsla(0, 0%, calc(var(--background-text-l) + calc(-40% * var(--background-text-m))), 1);
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
  font-size: var(--font-size-medium, 1rem);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-semibold, 500);
  color: var(--input-text-color);
}
.input-radio input, .input-radio select, .input-radio textarea, .input-checkbox input, .input-checkbox select, .input-checkbox textarea, .input-range input, .input-range select, .input-range textarea, .input input, .input select, .input textarea {
  position: relative;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  line-height: var(--input-line-height, 1.5);
  height: var(--input-height, 2.5em);
  margin: 0;
  padding-bottom: calc(0.5em - var(--input-border-width, 1px));
  padding-left: calc(0.75em - var(--input-border-width, 1px));
  padding-right: calc(0.75em - var(--input-border-width, 1px));
  padding-top: calc(0.5em - var(--input-border-width, 1px));
}
.input-radio input::placeholder, .input-radio select::placeholder, .input-radio textarea::placeholder, .input-checkbox input::placeholder, .input-checkbox select::placeholder, .input-checkbox textarea::placeholder, .input-range input::placeholder, .input-range select::placeholder, .input-range textarea::placeholder, .input input::placeholder, .input select::placeholder, .input textarea::placeholder {
  color: var(--input-placeholder-text-color);
}
.input-radio input:disabled, .input-radio select:disabled, .input-radio textarea:disabled, .input-checkbox input:disabled, .input-checkbox select:disabled, .input-checkbox textarea:disabled, .input-range input:disabled, .input-range select:disabled, .input-range textarea:disabled, .input input:disabled, .input select:disabled, .input textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.input-radio.is-fullwidth, .input-checkbox.is-fullwidth, .input-range.is-fullwidth, .input.is-fullwidth {
  width: 100%;
}
.input-radio.is-disabled, .input-checkbox.is-disabled, .input-range.is-disabled, .input.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.input-radio.is-xx-small, .input-checkbox.is-xx-small, .input-range.is-xx-small, .input.is-xx-small {
  font-size: var(--font-size-xx-small, 0.625rem);
}
.input-radio.is-x-small, .input-checkbox.is-x-small, .input-range.is-x-small, .input.is-x-small {
  font-size: var(--font-size-x-small, 0.75rem);
}
.input-radio.is-small, .input-checkbox.is-small, .input-range.is-small, .input.is-small {
  font-size: var(--font-size-small, 0.875rem);
}
.input-radio.is-medium, .input-checkbox.is-medium, .input-range.is-medium, .input.is-medium {
  font-size: var(--font-size-medium, 1rem);
}
.input-radio.is-large, .input-checkbox.is-large, .input-range.is-large, .input.is-large {
  font-size: var(--font-size-large, 1.25rem);
}
.input-radio.is-x-large, .input-checkbox.is-x-large, .input-range.is-x-large, .input.is-x-large {
  font-size: var(--font-size-x-large, 1.5rem);
}
.input-radio.is-xx-large, .input-checkbox.is-xx-large, .input-range.is-xx-large, .input.is-xx-large {
  font-size: var(--font-size-xx-large, 2.25rem);
}
.input-radio.is-xxx-large, .input-checkbox.is-xxx-large, .input-range.is-xxx-large, .input.is-xxx-large {
  font-size: var(--font-size-xxx-large, 3rem);
}
.input-radio.is-xxxx-large, .input-checkbox.is-xxxx-large, .input-range.is-xxxx-large, .input.is-xxxx-large {
  font-size: var(--font-size-xxxx-large, 4.5rem);
}

.input-radio input, .input-checkbox input {
  margin-left: calc(0.75em - var(--input-border-width, 1px));
  margin-right: calc(0.75em - var(--input-border-width, 1px));
}
.input-radio.is-xx-small input, .input-checkbox.is-xx-small input {
  width: var(--font-size-xx-small, 0.625rem);
}
.input-radio.is-x-small input, .input-checkbox.is-x-small input {
  width: var(--font-size-x-small, 0.75rem);
}
.input-radio.is-small input, .input-checkbox.is-small input {
  width: var(--font-size-small, 0.875rem);
}
.input-radio.is-medium input, .input-checkbox.is-medium input {
  width: var(--font-size-medium, 1rem);
}
.input-radio.is-large input, .input-checkbox.is-large input {
  width: var(--font-size-large, 1.25rem);
}
.input-radio.is-x-large input, .input-checkbox.is-x-large input {
  width: var(--font-size-x-large, 1.5rem);
}
.input-radio.is-xx-large input, .input-checkbox.is-xx-large input {
  width: var(--font-size-xx-large, 2.25rem);
}
.input-radio.is-xxx-large input, .input-checkbox.is-xxx-large input {
  width: var(--font-size-xxx-large, 3rem);
}
.input-radio.is-xxxx-large input, .input-checkbox.is-xxxx-large input {
  width: var(--font-size-xxxx-large, 4.5rem);
}

.input {
  --input-background-color-h: var(--default-h);
  --input-background-color-s: var(--default-s);
  --input-background-color-l: var(--default-l);
  --input-background-color: transparent;
  --input-background-hover-color: hsla(var(--input-background-color-h), var(--input-background-color-s), var(--input-background-color-l), 0.05);
  --input-background-focus-color: var(--input-background-hover-color);
  --input-background-active-color: hsla(var(--input-background-color-h), var(--input-background-color-s), var(--input-background-color-l), 0.25);
  --input-border-color: hsla(var(--input-background-color-h), 10%, 50%, 1);
  --input-border-hover-color: hsla(var(--input-background-color-h), var(--input-background-color-s), calc(var(--input-background-color-l) - 10%), 1);
  --input-border-focus-color: var(--input-border-hover-color);
  --input-border-active-color: var(--input-border-hover-color);
  --input-shadow-hover-color: hsla(var(--input-background-color-h), var(--input-background-color-s), var(--input-background-color-l), 0.33);
  --input-shadow-focus-color: var(--input-shadow-hover-color);
  --input-shadow-active-color: var(--input-shadow-hover-color);
}
.input.is-rounded input, .input.is-rounded select {
  border-radius: var(--border-radius-rounded, 9999px);
}
.input.is-rounded textarea {
  border-radius: var(--border-radius-x-large, 1rem);
}
.input input, .input select, .input textarea {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-style: solid;
  border-width: var(--input-border-width, 1px);
  border-radius: var(--border-radius-medium, 0.25rem);
  box-shadow: none;
  outline: none;
  transition: var(--transition-fast, 150ms) color, var(--transition-fast, 150ms) border, var(--transition-fast, 150ms) box-shadow;
  background-color: var(--input-background-color);
  border-color: var(--input-border-color);
}
.input input:hover:not(:disabled), .input select:hover:not(:disabled), .input textarea:hover:not(:disabled) {
  background-color: var(--input-background-hover-color);
  border-color: var(--input-border-hover-color);
  box-shadow: 0 0 0 3px var(--input-shadow-hover-color);
}
.input input:focus:not(:disabled), .input select:focus:not(:disabled), .input textarea:focus:not(:disabled) {
  background-color: var(--input-background-focus-color);
  border-color: var(--input-border-focus-color);
  box-shadow: 0 0 0 3px var(--input-shadow-focus-color);
}
.input.is-underscored input, .input.is-underscored select, .input.is-underscored textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.input.is-underscored input:hover:not(:disabled), .input.is-underscored input:focus:not(:disabled), .input.is-underscored select:hover:not(:disabled), .input.is-underscored select:focus:not(:disabled), .input.is-underscored textarea:hover:not(:disabled), .input.is-underscored textarea:focus:not(:disabled) {
  box-shadow: none;
}
.input.is-underscored:before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 2px;
  width: 100%;
  z-index: 1;
  background-color: var(--input-border-hover-color);
  box-shadow: 0 1px 0 0 var(--input-shadow-hover-color);
  transform-origin: 50% 100%;
  transform: scaleX(0);
  transition: var(--transition-slow, 500ms) transform;
}
.input.is-underscored:focus-within:not(:disabled):before {
  transform: scaleX(1);
}
.input.is-colored {
  --input-border-color: hsla(var(--input-background-color-h), var(--input-background-color-s), var(--input-background-color-l), 1);
}
.input.is-background {
  --input-background-color-h: var(--background-h);
  --input-background-color-s: var(--background-s);
  --input-background-color-l: var(--background-l);
}
.input.is-default {
  --input-background-color-h: var(--default-h);
  --input-background-color-s: var(--default-s);
  --input-background-color-l: var(--default-l);
}
.input.is-primary {
  --input-background-color-h: var(--primary-h);
  --input-background-color-s: var(--primary-s);
  --input-background-color-l: var(--primary-l);
}
.input.is-succes {
  --input-background-color-h: var(--succes-h);
  --input-background-color-s: var(--succes-s);
  --input-background-color-l: var(--succes-l);
}
.input.is-info {
  --input-background-color-h: var(--info-h);
  --input-background-color-s: var(--info-s);
  --input-background-color-l: var(--info-l);
}
.input.is-warning {
  --input-background-color-h: var(--warning-h);
  --input-background-color-s: var(--warning-s);
  --input-background-color-l: var(--warning-l);
}
.input.is-danger {
  --input-background-color-h: var(--danger-h);
  --input-background-color-s: var(--danger-s);
  --input-background-color-l: var(--danger-l);
}
.input.is-grey {
  --input-background-color-h: var(--grey-h);
  --input-background-color-s: var(--grey-s);
  --input-background-color-l: var(--grey-l);
}
.input textarea {
  max-height: 40em;
  min-height: 8em;
  resize: vertical;
}
.input.is-select select {
  padding-right: var(--input-height, 2.5em);
}
.input.is-select select option {
  color: black;
}
.input.is-select::after {
  border: 3px solid var(--input-text-color);
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 0.885em;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}
.input.has-icons-right .icon, .input.has-icons-left .icon {
  pointer-events: none;
  position: absolute;
  height: var(--input-height, 2.5em);
  width: var(--input-height, 2.5em);
  top: 0;
  z-index: 4;
}
.input.has-icons-left input, .input.has-icons-left select {
  padding-left: var(--input-height, 2.5em);
}
.input.has-icons-left .icon.is-left {
  left: 0;
}
.input.has-icons-right input, .input.has-icons-right select {
  padding-right: var(--input-height, 2.5em);
}
.input.has-icons-right.is-select select {
  padding-right: calc(var(--input-height, 2.5em) * 2);
}
.input.has-icons-right.is-select::after {
  right: calc(var(--input-height, 2.5em) + 0.885em);
}
.input.has-icons-right .icon.is-right {
  right: 0;
}

.control-text {
  --control-text-border-width: 1px;
  --control-text-height: 2.5em;
  --control-text-line-height: 1.5;
  --control-text-color: hsla(0, 0%, var(--background-text-l), 1);
  --control-text-background-color-h: var(--default-h);
  --control-text-background-color-s: var(--default-s);
  --control-text-background-color-l: var(--default-l);
  --control-text-background-color: transparent;
  --control-text-border-color: hsla(var(--control-text-background-color-h), 10%, 50%, 1);
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: auto;
  line-height: var(--control-text-line-height, 1.5);
  height: var(--control-text-height, 2.5em);
  font-size: var(--font-size-medium, 1rem);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-semibold, 500);
  border-style: solid;
  border-width: var(--control-text-border-width, 1px);
  border-radius: var(--border-radius-medium, 0.25rem);
  border-color: var(--control-text-border-color);
  background-color: var(--control-text-background-color);
  color: var(--control-text-color);
  padding-bottom: calc(0.5em - var(--control-text-border-width, 1px));
  padding-left: calc(0.75em - var(--control-text-border-width, 1px));
  padding-right: calc(0.75em - var(--control-text-border-width, 1px));
  padding-top: calc(0.5em - var(--control-text-border-width, 1px));
  cursor: default;
}
.control-text.is-justify-start {
  justify-content: flex-start;
}
.control-text.is-justify-end {
  justify-content: flex-end;
}
.control-text.is-fullwidth {
  width: 100%;
}
.control-text.is-rounded {
  border-radius: var(--border-radius-rounded, 9999px);
}
.control-text.is-underscored {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.control-text.is-background {
  --control-text-background-color-h: var(--background-h);
  --control-text-background-color-s: var(--background-s);
  --control-text-background-color-l: var(--background-l);
}
.control-text.is-default {
  --control-text-background-color-h: var(--default-h);
  --control-text-background-color-s: var(--default-s);
  --control-text-background-color-l: var(--default-l);
}
.control-text.is-primary {
  --control-text-background-color-h: var(--primary-h);
  --control-text-background-color-s: var(--primary-s);
  --control-text-background-color-l: var(--primary-l);
}
.control-text.is-succes {
  --control-text-background-color-h: var(--succes-h);
  --control-text-background-color-s: var(--succes-s);
  --control-text-background-color-l: var(--succes-l);
}
.control-text.is-info {
  --control-text-background-color-h: var(--info-h);
  --control-text-background-color-s: var(--info-s);
  --control-text-background-color-l: var(--info-l);
}
.control-text.is-warning {
  --control-text-background-color-h: var(--warning-h);
  --control-text-background-color-s: var(--warning-s);
  --control-text-background-color-l: var(--warning-l);
}
.control-text.is-danger {
  --control-text-background-color-h: var(--danger-h);
  --control-text-background-color-s: var(--danger-s);
  --control-text-background-color-l: var(--danger-l);
}
.control-text.is-grey {
  --control-text-background-color-h: var(--grey-h);
  --control-text-background-color-s: var(--grey-s);
  --control-text-background-color-l: var(--grey-l);
}

.control-group {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.control-group.is-fullwidth {
  width: 100%;
}
.control-group.is-rounded .button, .control-group.is-rounded .input input, .control-group.is-rounded .input select, .control-group.is-rounded .control-text {
  border-radius: var(--border-radius-rounded, 9999px);
}
.control-group.is-underscored .control-text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.control-group.is-underscored .button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.control-group.is-underscored .button:hover:not(:disabled) {
  box-shadow: 0 3px 0 0 var(--button-shadow-hover-color);
}
.control-group.is-underscored .button:focus:not(:disabled) {
  box-shadow: 0 3px 0 0 var(--button-shadow-focus-color);
}
.control-group.is-underscored .input input, .control-group.is-underscored .input select, .control-group.is-underscored .input textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.control-group.is-underscored .input input:hover:not(:disabled), .control-group.is-underscored .input input:focus:not(:disabled), .control-group.is-underscored .input select:hover:not(:disabled), .control-group.is-underscored .input select:focus:not(:disabled), .control-group.is-underscored .input textarea:hover:not(:disabled), .control-group.is-underscored .input textarea:focus:not(:disabled) {
  box-shadow: none;
}
.control-group.is-underscored .input:before {
  position: absolute;
  bottom: 0;
  content: "";
  height: 2px;
  width: 100%;
  z-index: 1;
  background-color: var(--input-border-hover-color);
  box-shadow: 0 1px 0 0 var(--input-shadow-hover-color);
  transform-origin: 50% 100%;
  transform: scaleX(0);
  transition: var(--transition-slow, 500ms) transform;
}
.control-group.is-underscored .input:focus-within:not(:disabled):before {
  transform: scaleX(1);
}
.control-group.is-colored .input {
  --input-border-color: hsla(var(--input-background-color-h), var(--input-background-color-s), var(--input-background-color-l), 1);
}
.control-group.is-background .control-text {
  --control-text-background-color-h: var(--background-h);
  --control-text-background-color-s: var(--background-s);
  --control-text-background-color-l: var(--background-l);
}
.control-group.is-background .button {
  --button-background-color-h: var(--background-h);
  --button-background-color-s: var(--background-s);
  --button-background-color-l: var(--background-l);
}
.control-group.is-background .input {
  --input-background-color-h: var(--background-h);
  --input-background-color-s: var(--background-s);
  --input-background-color-l: var(--background-l);
}
.control-group.is-background.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--background-text-l), 1);
}
.control-group.is-background.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--background-text-l), 1);
}
.control-group.is-default .control-text {
  --control-text-background-color-h: var(--default-h);
  --control-text-background-color-s: var(--default-s);
  --control-text-background-color-l: var(--default-l);
}
.control-group.is-default .button {
  --button-background-color-h: var(--default-h);
  --button-background-color-s: var(--default-s);
  --button-background-color-l: var(--default-l);
}
.control-group.is-default .input {
  --input-background-color-h: var(--default-h);
  --input-background-color-s: var(--default-s);
  --input-background-color-l: var(--default-l);
}
.control-group.is-default.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--default-text-l), 1);
}
.control-group.is-default.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--default-text-l), 1);
}
.control-group.is-primary .control-text {
  --control-text-background-color-h: var(--primary-h);
  --control-text-background-color-s: var(--primary-s);
  --control-text-background-color-l: var(--primary-l);
}
.control-group.is-primary .button {
  --button-background-color-h: var(--primary-h);
  --button-background-color-s: var(--primary-s);
  --button-background-color-l: var(--primary-l);
}
.control-group.is-primary .input {
  --input-background-color-h: var(--primary-h);
  --input-background-color-s: var(--primary-s);
  --input-background-color-l: var(--primary-l);
}
.control-group.is-primary.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--primary-text-l), 1);
}
.control-group.is-primary.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--primary-text-l), 1);
}
.control-group.is-succes .control-text {
  --control-text-background-color-h: var(--succes-h);
  --control-text-background-color-s: var(--succes-s);
  --control-text-background-color-l: var(--succes-l);
}
.control-group.is-succes .button {
  --button-background-color-h: var(--succes-h);
  --button-background-color-s: var(--succes-s);
  --button-background-color-l: var(--succes-l);
}
.control-group.is-succes .input {
  --input-background-color-h: var(--succes-h);
  --input-background-color-s: var(--succes-s);
  --input-background-color-l: var(--succes-l);
}
.control-group.is-succes.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--succes-text-l), 1);
}
.control-group.is-succes.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--succes-text-l), 1);
}
.control-group.is-info .control-text {
  --control-text-background-color-h: var(--info-h);
  --control-text-background-color-s: var(--info-s);
  --control-text-background-color-l: var(--info-l);
}
.control-group.is-info .button {
  --button-background-color-h: var(--info-h);
  --button-background-color-s: var(--info-s);
  --button-background-color-l: var(--info-l);
}
.control-group.is-info .input {
  --input-background-color-h: var(--info-h);
  --input-background-color-s: var(--info-s);
  --input-background-color-l: var(--info-l);
}
.control-group.is-info.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--info-text-l), 1);
}
.control-group.is-info.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--info-text-l), 1);
}
.control-group.is-warning .control-text {
  --control-text-background-color-h: var(--warning-h);
  --control-text-background-color-s: var(--warning-s);
  --control-text-background-color-l: var(--warning-l);
}
.control-group.is-warning .button {
  --button-background-color-h: var(--warning-h);
  --button-background-color-s: var(--warning-s);
  --button-background-color-l: var(--warning-l);
}
.control-group.is-warning .input {
  --input-background-color-h: var(--warning-h);
  --input-background-color-s: var(--warning-s);
  --input-background-color-l: var(--warning-l);
}
.control-group.is-warning.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--warning-text-l), 1);
}
.control-group.is-warning.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--warning-text-l), 1);
}
.control-group.is-danger .control-text {
  --control-text-background-color-h: var(--danger-h);
  --control-text-background-color-s: var(--danger-s);
  --control-text-background-color-l: var(--danger-l);
}
.control-group.is-danger .button {
  --button-background-color-h: var(--danger-h);
  --button-background-color-s: var(--danger-s);
  --button-background-color-l: var(--danger-l);
}
.control-group.is-danger .input {
  --input-background-color-h: var(--danger-h);
  --input-background-color-s: var(--danger-s);
  --input-background-color-l: var(--danger-l);
}
.control-group.is-danger.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--danger-text-l), 1);
}
.control-group.is-danger.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--danger-text-l), 1);
}
.control-group.is-grey .control-text {
  --control-text-background-color-h: var(--grey-h);
  --control-text-background-color-s: var(--grey-s);
  --control-text-background-color-l: var(--grey-l);
}
.control-group.is-grey .button {
  --button-background-color-h: var(--grey-h);
  --button-background-color-s: var(--grey-s);
  --button-background-color-l: var(--grey-l);
}
.control-group.is-grey .input {
  --input-background-color-h: var(--grey-h);
  --input-background-color-s: var(--grey-s);
  --input-background-color-l: var(--grey-l);
}
.control-group.is-grey.is-colored .control-text {
  --control-text-color: hsla(0, 0%, var(--grey-text-l), 1);
}
.control-group.is-grey.is-colored .button {
  --button-text-color: hsla(0, 0%, var(--grey-text-l), 1);
}
.control-group .button, .control-group .input, .control-group .control-text {
  font-size: var(--font-size-medium, 1rem);
}
.control-group .button:not(:first-child), .control-group .input:not(:first-child), .control-group .control-text:not(:first-child) {
  margin-left: calc(-1 * var(--button-border-width, 1px));
}
.control-group .button:focus, .control-group .button:focus-within, .control-group .input:focus, .control-group .input:focus-within, .control-group .control-text:focus, .control-group .control-text:focus-within {
  z-index: 1;
}
.control-group .button:hover, .control-group .input:hover, .control-group .control-text:hover {
  z-index: 2;
}
.control-group .button:not(:first-child), .control-group .input:not(:first-child) input, .control-group .input:not(:first-child) select, .control-group .control-text:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.control-group .button:not(:last-child), .control-group .input:not(:last-child) input, .control-group .input:not(:last-child) select, .control-group .control-text:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.control-group.is-xx-small .button, .control-group.is-xx-small .input, .control-group.is-xx-small .control-text {
  font-size: var(--font-size-xx-small, 0.625rem);
}
.control-group.is-x-small .button, .control-group.is-x-small .input, .control-group.is-x-small .control-text {
  font-size: var(--font-size-x-small, 0.75rem);
}
.control-group.is-small .button, .control-group.is-small .input, .control-group.is-small .control-text {
  font-size: var(--font-size-small, 0.875rem);
}
.control-group.is-medium .button, .control-group.is-medium .input, .control-group.is-medium .control-text {
  font-size: var(--font-size-medium, 1rem);
}
.control-group.is-large .button, .control-group.is-large .input, .control-group.is-large .control-text {
  font-size: var(--font-size-large, 1.25rem);
}
.control-group.is-x-large .button, .control-group.is-x-large .input, .control-group.is-x-large .control-text {
  font-size: var(--font-size-x-large, 1.5rem);
}
.control-group.is-xx-large .button, .control-group.is-xx-large .input, .control-group.is-xx-large .control-text {
  font-size: var(--font-size-xx-large, 2.25rem);
}
.control-group.is-xxx-large .button, .control-group.is-xxx-large .input, .control-group.is-xxx-large .control-text {
  font-size: var(--font-size-xxx-large, 3rem);
}
.control-group.is-xxxx-large .button, .control-group.is-xxxx-large .input, .control-group.is-xxxx-large .control-text {
  font-size: var(--font-size-xxxx-large, 4.5rem);
}

.control-group-vertical {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.control-group-vertical .control-group:not(.is-fullwidth) {
  width: 100%;
}
.control-group-vertical .control-group:not(.is-fullwidth) .button, .control-group-vertical .control-group:not(.is-fullwidth) .input, .control-group-vertical .control-group:not(.is-fullwidth) .control-text {
  width: 100%;
}
.control-group-vertical .control-group:not(:first-child) .button, .control-group-vertical .control-group:not(:first-child) .input, .control-group-vertical .control-group:not(:first-child) .control-text {
  margin-top: calc(-1 * var(--button-border-width, 1px));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.control-group-vertical .control-group:not(:last-child) .button, .control-group-vertical .control-group:not(:last-child) .input, .control-group-vertical .control-group:not(:last-child) .control-text {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: inherit;
  color: inherit;
}
.icon.is-xx-small {
  font-size: var(--font-size-xx-small, 0.625rem);
}
.icon.is-x-small {
  font-size: var(--font-size-x-small, 0.75rem);
}
.icon.is-small {
  font-size: var(--font-size-small, 0.875rem);
}
.icon.is-medium {
  font-size: var(--font-size-medium, 1rem);
}
.icon.is-large {
  font-size: var(--font-size-large, 1.25rem);
}
.icon.is-x-large {
  font-size: var(--font-size-x-large, 1.5rem);
}
.icon.is-xx-large {
  font-size: var(--font-size-xx-large, 2.25rem);
}
.icon.is-xxx-large {
  font-size: var(--font-size-xxx-large, 3rem);
}
.icon.is-xxxx-large {
  font-size: var(--font-size-xxxx-large, 4.5rem);
}

.field {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 769px) {
  .field {
    display: flex;
  }
}
.field .field-label {
  display: block;
  font-size: var(--font-size-medium, 1rem);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-bold, 700);
  color: hsla(0, 0%, calc(var(--background-text-l) + calc(10% * var(--background-text-m))), 1);
}
@media screen and (max-width: 768px) {
  .field .field-label {
    margin-bottom: var(--spacing-x-small, 0.5rem);
  }
}
@media screen and (min-width: 769px) {
  .field .field-label {
    flex: 1 0 0;
    text-align: right;
    margin-right: var(--spacing-large, 1.25rem);
    padding-bottom: calc(0.5em - var(--input-border-width, 1px));
    padding-top: calc(0.5em - var(--input-border-width, 1px));
  }
}
@media screen and (min-width: 769px) {
  .field .field-body {
    flex: 5 1 0;
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
.field .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-xx-small, 0.25rem);
}
@media screen and (min-width: 769px) {
  .field .field-body .field-content {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .field .field-body .field-content > .input, .field .field-body .field-content > .button, .field .field-body .field-content > .input-group {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .field .field-body .field-content > .input:not(:first-child), .field .field-body .field-content > .button:not(:first-child), .field .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-xx-small, 0.25rem);
  }
}
@media screen and (min-width: 769px) {
  .field .field-body .field-content > .input:not(:first-child), .field .field-body .field-content > .button:not(:first-child), .field .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-xx-small, 0.25rem);
  }
}
.field .field-body .field-help {
  display: block;
  font-size: var(--font-size-small, 0.875rem);
  margin-top: var(--spacing-xxx-small, 0.125rem);
  color: hsla(0, 0%, var(--background-text-l), 1);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-semibold, 500);
}
.field .field-body .field-help.is-background {
  color: hsla(var(--background-h), var(--background-s), var(--background-l), 1);
}
.field .field-body .field-help.is-default {
  color: hsla(var(--default-h), var(--default-s), var(--default-l), 1);
}
.field .field-body .field-help.is-primary {
  color: hsla(var(--primary-h), var(--primary-s), var(--primary-l), 1);
}
.field .field-body .field-help.is-succes {
  color: hsla(var(--succes-h), var(--succes-s), var(--succes-l), 1);
}
.field .field-body .field-help.is-info {
  color: hsla(var(--info-h), var(--info-s), var(--info-l), 1);
}
.field .field-body .field-help.is-warning {
  color: hsla(var(--warning-h), var(--warning-s), var(--warning-l), 1);
}
.field .field-body .field-help.is-danger {
  color: hsla(var(--danger-h), var(--danger-s), var(--danger-l), 1);
}
.field .field-body .field-help.is-grey {
  color: hsla(var(--grey-h), var(--grey-s), var(--grey-l), 1);
}
.field.is-space-between-xxx-small .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-xxx-small, 0.125rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-xxx-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-xxx-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-xxx-small .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-xxx-small, 0.125rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-xxx-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-xxx-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-xxx-small .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-xxx-small, 0.125rem);
  }
}
.field.is-space-between-xx-small .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-xx-small, 0.25rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-xx-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-xx-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-xx-small .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-xx-small, 0.25rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-xx-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-xx-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-xx-small .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-xx-small, 0.25rem);
  }
}
.field.is-space-between-x-small .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-x-small, 0.5rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-x-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-x-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-x-small .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-x-small, 0.5rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-x-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-x-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-x-small .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-x-small, 0.5rem);
  }
}
.field.is-space-between-small .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-small, 0.75rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-small .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-small, 0.75rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-small .field-body .field-content > .input:not(:first-child), .field.is-space-between-small .field-body .field-content > .button:not(:first-child), .field.is-space-between-small .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-small, 0.75rem);
  }
}
.field.is-space-between-medium .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-medium, 1rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-medium .field-body .field-content > .input:not(:first-child), .field.is-space-between-medium .field-body .field-content > .button:not(:first-child), .field.is-space-between-medium .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-medium, 1rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-medium .field-body .field-content > .input:not(:first-child), .field.is-space-between-medium .field-body .field-content > .button:not(:first-child), .field.is-space-between-medium .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-medium, 1rem);
  }
}
.field.is-space-between-large .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-large, 1.25rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-large .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-large, 1.25rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-large .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-large, 1.25rem);
  }
}
.field.is-space-between-x-large .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-x-large, 1.75rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-x-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-x-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-x-large .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-x-large, 1.75rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-x-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-x-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-x-large .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-x-large, 1.75rem);
  }
}
.field.is-space-between-xx-large .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-xx-large, 2.25rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-xx-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-xx-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-xx-large .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-xx-large, 2.25rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-xx-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-xx-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-xx-large .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-xx-large, 2.25rem);
  }
}
.field.is-space-between-xxx-large .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-xxx-large, 3rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-xxx-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-xxx-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-xxx-large .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-xxx-large, 3rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-xxx-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-xxx-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-xxx-large .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-xxx-large, 3rem);
  }
}
.field.is-space-between-xxxx-large .field-body .field-content:not(:first-child) {
  margin-top: var(--spacing-xxxx-large, 4.5rem);
}
@media screen and (max-width: 768px) {
  .field.is-space-between-xxxx-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-xxxx-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-xxxx-large .field-body .field-content > .input-group:not(:first-child) {
    margin-top: var(--spacing-xxxx-large, 4.5rem);
  }
}
@media screen and (min-width: 769px) {
  .field.is-space-between-xxxx-large .field-body .field-content > .input:not(:first-child), .field.is-space-between-xxxx-large .field-body .field-content > .button:not(:first-child), .field.is-space-between-xxxx-large .field-body .field-content > .input-group:not(:first-child) {
    margin-left: var(--spacing-xxxx-large, 4.5rem);
  }
}

.fields {
  position: relative;
}
.fields .field:not(:first-child) {
  margin-top: var(--spacing-xx-small, 0.25rem);
}
.fields.is-space-between-xxx-small .field:not(:first-child) {
  margin-top: var(--spacing-xxx-small, 0.125rem);
}
.fields.is-space-between-xx-small .field:not(:first-child) {
  margin-top: var(--spacing-xx-small, 0.25rem);
}
.fields.is-space-between-x-small .field:not(:first-child) {
  margin-top: var(--spacing-x-small, 0.5rem);
}
.fields.is-space-between-small .field:not(:first-child) {
  margin-top: var(--spacing-small, 0.75rem);
}
.fields.is-space-between-medium .field:not(:first-child) {
  margin-top: var(--spacing-medium, 1rem);
}
.fields.is-space-between-large .field:not(:first-child) {
  margin-top: var(--spacing-large, 1.25rem);
}
.fields.is-space-between-x-large .field:not(:first-child) {
  margin-top: var(--spacing-x-large, 1.75rem);
}
.fields.is-space-between-xx-large .field:not(:first-child) {
  margin-top: var(--spacing-xx-large, 2.25rem);
}
.fields.is-space-between-xxx-large .field:not(:first-child) {
  margin-top: var(--spacing-xxx-large, 3rem);
}
.fields.is-space-between-xxxx-large .field:not(:first-child) {
  margin-top: var(--spacing-xxxx-large, 4.5rem);
}

/*# sourceMappingURL=site.css.map */
