$transition-x-slow: var(--transition-x-slow, 1000ms);
$transition-slow: var(--transition-slow, 500ms);
$transition-medium: var(--transition-medium, 250ms);
$transition-fast: var(--transition-fast, 150ms);
$transition-x-fast: var(--transition-x-fast, 50ms);


$border-radius-small: var(--border-radius-small, 0.125rem); // 2px
$border-radius-medium: var(--border-radius-medium, 0.25rem); // 4px
$border-radius-large: var(--border-radius-large, 0.5rem); // 8px
$border-radius-x-large: var(--border-radius-x-large, 1rem); // 16px

$border-radius-circle: var(--border-radius-circle, 50%);
$border-radius-rounded: var(--border-radius-rounded, 9999px);

:root {
    --transition-x-slow: 1000ms;
    --transition-slow: 500ms;
    --transition-medium: 250ms;
    --transition-fast: 150ms;
    --transition-x-fast: 50ms;


    --border-radius-small: 0.125rem; // 2px
    --border-radius-medium: 0.25rem; // 4px
    --border-radius-large: 0.5rem; // 8px
    --border-radius-x-large: 1rem; // 16px
  
    --border-radius-circle: 50%;
    --border-radius-rounded: 9999px;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

body {
    background-color: nodzerColor("background");
}

* {
    &::selection {
        background-color: nodzerColor("primary");
        color: nodzerTextOnColor("primary")
    }
}
